 body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1b8a3b; /* verde principal */
    color: white;
}

/* Header */
header {
    background-color: #166b2d;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Ícone de menu (esquerda) */
.menu-icon {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

/* Título centralizado */
header h2 {
    margin: 0 auto;
    text-align: center;
}

/* Botão de perfil (direita) */
.perfil-btn {
    position: absolute;
    right: 20px;
    background-color: white;
    color: #166b2d;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.perfil-btn:hover {
    background-color: #e0e0e0;
}

/* Área principal */
main {
    text-align: center;
    margin-top: 60px;
}

/* Botões principais (6 brancos) */
.botoes button {
    margin: 10px;
    padding: 15px 40px;
    font-size: 16px;
    border: none;
    background-color: white;
    color: #166b2d;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    font-size: XX-large;
}

.botoes button:hover {
    background-color: #e6e6e6;
}

/* Menu lateral */
#menu-lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #144f22;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding-top: 20px;
    z-index: 1000;
}

#menu-lateral ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

#menu-lateral ul li {
    margin: 15px 0;
    text-align: center;
}

#menu-lateral ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.fechar-menu {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.menu-aberto {
    transform: translateX(0);
}
FOOTER{
    background-color: #166b2d;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#pp{
    text-align: center;
}
.form{
    height: 36px;
    width: 300px;
}