body {
  font-family: Arial, sans-serif;
  background-color: #1b8a3b; /* verde */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

h2 {
  color: #1b8a3b;
}

label {
  display: block;
  margin-top: 15px;
  text-align: left;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #1b8a3b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background-color: #166b2d;
}

#mensagem-erro {
  color: red;
  margin-top: 15px;
  font-weight: bold;
}